[submodule "submodules/vicuna"]
	path = submodules/vicuna
	url = https://github.com/MultiVic/vicuna.git
[submodule "submodules/opentitan"]
	path = submodules/opentitan
	url = https://github.com/MultiVic/opentitan.git
[submodule "submodules/ibex-xif"]
	path = submodules/ibex-xif
	url = https://github.com/MultiVic/ibex-xif.git
[submodule "submodules/axi"]
	path = submodules/axi
	url = https://github.com/pulp-platform/axi.git
[submodule "submodules/common_cells"]
	path = submodules/common_cells
	url = https://github.com/pulp-platform/common_cells.git
